{% extends 'interface/base.html' %}

{% block title %}Interface Home{% endblock %}

{% block sidebar %}
    <h2>Controls</h2>
    <form id="upload-form" enctype="multipart/form-data">
        <label for="dicom-file">DICOM:</label>
        <input type="file" id="dicom-file" name="dicom-file"><br><br>
        <label for="nifti-file">NIFTI:</label>
        <input type="file" id="nifti-file" name="nifti-file"><br><br>   
        <button type="button" id="run-algo">Run Algorithm</button>
    </form>     
{% endblock %}

{% block viewer %}
    <canvas id="viewer" width="800" height="600"></canvas>
{% endblock %}

{% block results %}
    <h2>Results</h2>
    <div id="log-container">
        <ul id="log-list">
            <li>Logboek is leeg.</li>
        </ul>
    </div>
{% endblock %}



