{% extends 'interface/base.html' %}

{% block title %}Interface Home{% endblock %}

{% block sidebar %}
    <h2>Controls</h2>
    <form id="upload-form" enctype="multipart/form-data">
        <label for="dicom-files">DICOM:</label>
        <input type="file" id="dicom-file" name="dicom-file" multiple /><br> 
        <button id="visualize-btn">Visualiseer DICOM</button>
        <label for="nifti-file">NIFTI:</label>
        <input type="file" id="nifti-file" name="nifti-file"><br>
        <button id="visualize-nifti-btn">Visualiseer NIFTI</button><br><br><br>
        <button type="button" id="run-algo1">Run Segmentation Algorithm</button><br> 
        <button type="button" id="run-algo2">Run Landmark Algorithm</button><br>
        <button type="button" id="run-algo3">Run Cephalometric Algorithm</button><br>
        <button type="button" id="run-algo4">Run LeFort Algorithm</button><br>

    </form>     
{% endblock %}

{% block viewer %}
    <canvas id="viewer" width="800" height="600"></canvas>
{% endblock %}

{% block results %}
    <h2>Results</h2>
    <div id="log-container">
        <ul id="log-list">
            <li>Logboek is leeg.</li>
        </ul>
    </div>
{% endblock %}

